.cart{
	&-list{
		width: 100%;
		th,td{
			padding: 4px 8px;
		}
		@media screen and (max-width:768px){
			tr,td,table,tbody{
				display: block;
			}
			thead{
				display: none;
			}
			tr{
				margin-bottom: 32px;
			}
			td{
				&:last-of-type{
					text-align: right;
				}
				img{
					width: 100%!important;
				}
			}
		}
	}
	&-summary{
		li{
			display: flex;
			padding: 4px 8px;
			& + li{
				border-top: 1px solid rgba(0,0,0,.12);
			}
			div:nth-child(2){
				margin-left: auto;
			}
		}
	}
}