.category{
	&-more{
		background:#efefef;
		height: 246px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: .5s;
		color: #fff;
		&:hover{
			background: $secondary;
		}
		&-link{
			transition: .5s;
			&:hover{
				text-decoration: none;
				color: $primary;
				span{
					color: #fff!important;
				}
			}
		}
	}
	&-heading{
		border-bottom: 2px solid $secondary;
		padding: 4px 0;
		margin: 0 16px;
		margin-bottom: 16px;
		
	}
}