html{
	height: 100%;
}
body{
	min-height: 100%;
}

.dropdown{
	&:hover{
		>.dropdown-menu{
			display: block;
		}
	}
	&-menu{
		min-width: 12em;
		a{
			&:hover{
				color: $body-color!important;
			}
		}
		&-sub{
			left: calc(100% + 16px);
			top: 0;
		}
	}
}
.caret{
	position: relative;
	&:before{
		content:'';
		border:.3em solid transparent;
		border-top-color: inherit;
		position: absolute;
		top:0;
		left: 0;
	}
	&.right{
		&:before{
			border-top-color: transparent;
			border-left-color: inherit;
		}
	}
}
.slick-prev:before,
.slick-next:before{
	color: $primary!important;
}

.list{
	list-style: none;
	padding: 0;
	margin: 0;
	&-inline{
		display: flex;
	}
}
$duration: .8s;
.fade-down{
	&-1{
		animation: fadeDown $duration forwards ease-in;
	}
	&-2{
		animation: fadeDown $duration backwards ease-in;
		animation-delay: $duration;
	}
}