.navbar {
	background: $primary;
	display: flex;
	&-btn{
		color: #cacaca;
		font-size: 1.1em;
		transition: .5s;
		display: flex;
		align-items: center;
		margin: 0 16px;
		.badge{
			background: #cacaca;
			font-size: .6em;
			margin-left: 8px; 
			margin-top: 6px;
			color: $primary;
		}
		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
	&-wrap{
		@media screen and (max-width:991.98px){
			position: sticky;
			top: 0;
			left: 0;
			z-index: 9001;
		}
	}
	.nav-list {
		list-style: none;
		padding-left: 0;
		margin: 0;
		display: flex;

		li {
			margin: 0 16px;

			a {
				font-family: 'Niramit', sans-serif;
				color: #cacaca;
				font-size: 1.1em;
				transition: .5s;
				display: flex;
				align-items: center;
				&:hover{
					color: #fff;
					text-decoration: none;
				}
			}
		}
		.dropdown-menu{
				list-style: none;
				padding-left: 0;
				margin-bottom: 0;
				li{
					margin: 0!important;
					a{
						color: lighten($body-color, 30%);
						// display: block;
						padding: 4px 8px;
						&:hover{
							color: $body-color;
							background: rgba(0,0,0,.06);
						}
					}
				}
			
		}
	}
}
.sidebar-menu{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 1000;
	transition: .5s;
	overflow-y: auto;
	overflow-x: hidden;
	white-space: nowrap;
	.padding{
		padding: 0.5rem 1rem;
	}
	&.open{
		width: 200px;
	}
	&.closed{
		width: 0;
		overflow: hidden;
	}
	ul{
		list-style: none;
		padding: 0;
		li{
			a{
				display: block;
				padding: 4px 16px;
				&.active{
					background: #fff;
					color: $body-color;
				}
			}
		}
	}
}