@font-face {
	font-family: 'Alright Sans';
	src: url('/static/AlrightSans-Regular-v3.otf');
	font-weight: normal;
	font-style:normal;
}
@font-face {
	font-family: 'Alright Sans';
	src: url('/static/AlrightSans-Medium-v3.otf');
	font-weight: 600;
	font-style:normal;
}
@font-face {
	font-family: 'Alright Sans';
	src: url('/static/AlrightSans-Bold-v3.otf');
	font-weight: bold;
	font-style:normal;
}
@font-face {
	font-family: 'PFDinText';
	src: url('/static/PFDINTEXTPRO-MEDIUM.ttf');
	font-weight: 600;
	font-style:normal;
}
$font-family-base: 'Alright Sans';

h2.group{
	border-bottom: 1px solid;
	font-size: 1.3em;
}

h1.group{
	font-family: "PFDinText";
}
