@import 'vars';
@import 'type';
@import '~bootstrap/scss/bootstrap';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import 'nav';
@import 'slider';
@import 'hero';
@import 'pagination';
@import 'item';
@import 'category';
@import 'cart';
@import 'search';
@import 'sidebar';
@import 'product';
@import 'main';

@keyframes fadeDown {
	from{
		transform: translateY(-16px);
		opacity: 0;
	}
	to{
		transform: translateY(0);
		opacity: 1;
	}
}